<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Melofest - Lineup</title>
    <link rel="stylesheet" href="/lineup.css">
    <link rel="stylesheet" href="/breadcrumb.css">
</head>

<body>
    <%- include('../partials/navbar') %>
        <br>

        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Line up</li>
            </ul>

            <div class="title">
                <hr>
                <h1> Lineup </h1>
                <hr>
            </div>

            <div id="wrapper">
                <span class="arrow"><i class="fas fa-chevron-left"></i></span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                <ul id="navigation">
                    <li><a href="#" data-filter="alphabetic" class="active">A-Z</a> </li>
                    <% for (let i=1; i <=31; i++) { %>
                        <li><a data-filter="<%= i %>/10/2023" href="#">
                                <%= i %> Oct
                            </a> </li>
                        <% } %>
                </ul>
            </div>

            <!-- Render the artists by date or alphabetic -->
            <div id="artists">
            </div>

        </div>

        <br><br>
        <%- include('../partials/footer') %>

        <script>
            //init the page with the artists by alphabetic
            let artistsTest = JSON.parse(`<%- JSON.stringify(artists) %>`);
            document.querySelector('#artists').innerHTML = showArtists(artistsTest, true);
        
        
            // Scroll to the left or right when clicking on the arrows
            const navwidth = document.querySelector("#navigation");
            document.querySelector(".arrow:first-of-type").addEventListener("click", function () {
                navwidth.scrollBy({
                    left: -200,
                    behavior: 'smooth'
                });
            });
            document.querySelector(".arrow:nth-of-type(2)").addEventListener("click", function () {
                navwidth.scrollBy({
                    left: 200,
                    behavior: 'smooth'
                });
            });
        
        
            // Add active class to the current button (highlight it)
            const navLinks = document.querySelectorAll("#navigation li");
            navLinks.forEach(link => {
                link.addEventListener("click", function (event) {
                    event.preventDefault();
                    const activeLinks = document.querySelectorAll("#navigation li a.active");
                    activeLinks.forEach(activeLink => {
                        activeLink.classList.remove("active");
                    });
                    this.querySelector("a").classList.add("active");
                });
            });
        
        
            // Get the artists by date
            document.querySelectorAll('#navigation li a').forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const dataFilter = event.target.getAttribute('data-filter');
                    fetch('/lineup/getSchedules', { headers: { 'X-Filter': dataFilter } })
                        .then(response => response.json())
                        .then(data => {
                            const artists = document.querySelector('#artists');
                            artists.innerHTML = showArtists(data.artists, data.alphabetic);
                        })
                        .catch(error => console.log(error));
                });
            });
        
        
            // Function: Get the artists by alphabetic or date
            function showArtists(artists, alphabetic = true) {
                let html = "";
                //check if artists is empty
                if (artists.length === 0)
                    return '<br> <h2 style="text-align:center"> No schedules planned for this date </h2><br>';
        
                if (alphabetic) {
                    for (let i = 0; i < artists.length; i += 3)
                        html += '<div class="row">' +
                            artists.slice(i, i + 3).map((artist) => `
                                <article>
                                    <p>${artist.type} - ${artist.stage}</p>
                                <img src="${artist.photo}" alt="${artist.photo} Image"><hr>
                                <p>${artist.start}</p>
                                <h2>${artist.name}</h2><hr>
                                </article> `).join("") + "</div>";
                }
        
                else {
                    for (let i = 0; i < artists.length; i += 3)
                        html +=
                            '<div class="row">' +
                            artists.slice(i, i + 3).map((artist) =>
                                `<article>
                      <img src="${artist.photo}" alt="${artist.photo} Image"><hr>
                      <p>${artist.type} - ${artist.stage}</p>
                      <h2>${artist.name}</h2> <hr>
                    </article> `).join("") + "</div>";
                }
                return html;
            }
        
        </script>
</body>




</html>